# fly.toml app configuration file generated for mycoseed-backend on 2025-12-04T05:08:00Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'mycoseed-backend'
primary_region = 'sin'

[build]

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
